   body {
      font-family: 'Quicksand', sans-serif;
      background: linear-gradient(to right, #74ebd5, #acb6e5);
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }